
<div class="card cardCreditRules" >
    <div class="card-header">  
      <div class="row">
        <div class="col-8">
          <h4>Credit Rules</h4>
        </div>
        <div class="col-4">
          <button mat-raised-button class="text-center"  (click)="openAddCreditRuleDialog()"> Add credit rule
            <mat-icon aria-hidden="false" aria-label="add-project" class="matIconAddCreditRules">
                <span class="material-symbols-outlined">add_circle</span>
            </mat-icon>
          </button>
        </div>
      </div>


    </div>
    
    <div class="card-body containerCard">
      <div class="row">
     
        @for (disciplineName of getDisciplinesKeys(); track $index) 
        {

        
        <div class="card cardCreditRuleByDiscipline mb-3 ">
          <div class="card-header">
            <h4>{{disciplineName}}</h4>
          </div>
          @for ( creditRule of groupCreditRuleByDiscipline[disciplineName]; track $index) 
          {
            <div class="card-body">
              <div class="row" >
                <div class="col-6 p-2 ms-2  me-5" style="background-color: white; width: 40%; border-radius: 8px;">
                  <h6>{{creditRule.ruleName}}</h6>
                </div>
                <div class="col-6 text-center buttonSection" >
                  <button mat-raised-button (click)="editCreditRuleDialog(creditRule)" class="editCreditRuleButton">
                    Edit
                    <mat-icon>edit</mat-icon>
                  </button>    
                  <button mat-raised-button  (click)="deleteCreditRule(creditRule.creditRuleId)"  class="deleteCreditRuleButton">
                    Delete
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
          </div>
          }
         

        </div>
        
      }
        
       
      </div>

<!-- 
  CREDIT RULES      
-->

      

<!-- ////////////////////////////// -->
    </div>
</div>



