<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasAwp" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel"></h5>
      <div class="image-container mb-5">
          <img src="../../../assets/Images/AwpilotRemoveBckg.png" >         
      </div>   
    </div>
    <div class="offcanvas-body p-0">
      <div class="row justify-content-start ">
          <div class="col-12 mt-4">
            <button mat-button  class="offCanvasBtns border-bottom" (click)="goToPath('/home/projects')" > <p class="barlow-medium">Projects</p> </button>
          </div>
        
          @for (button of buttons; track $index)
          {
            <div class="col-12">
              <button mat-button  class="offCanvasBtns border-bottom"  (click)="goToPath(button.link)"><p class="barlow-medium">{{button.name}}</p></button>
            </div>
          }
         
          <div class="col-12">
            <button mat-button  class="offCanvasBtns border-bottom" > <p class="barlow-medium">Schedule </p></button>
          </div>
          <div class="col-12">
            <button mat-button  class="offCanvasBtns border-bottom" > <p class="barlow-medium">Team </p></button>
          </div>
      </div> 
      
      <div class="row justify-content-center align-items-center" style="height: 150px; position: absolute; bottom: 0; width: 100%;">
          
           <div class="col-4 border-end">
              <img src="../../../assets/Images/User_Image.png" class="user-image-off" alt="">
           </div>
           <div class="col" >{{userData?.UserName}}</div>
          
      </div>
    </div>


    
  </div>
