/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Zen+Kaku+Gothic+New:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&display=swap');

html, body { height: 100%; }


.custom-body-style
{
    background: linear-gradient(to top right ,#054653,#AFAFAF);
    margin: 0;
}

h2,h4
{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

h6
{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
p,label
{
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.barlow-regular {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .barlow-medium {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .barlow-semibold {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  

  