

body
{
    background: linear-gradient(to top right ,#054653,#AFAFAF);
    margin: 0;
}




#AwpLogo
{

    filter: drop-shadow(2px 10px 5px rgba(0, 0, 0 ,0.8));
}


#LoginForms
{

    border-radius: 20px 0 0 20px;
}


