.image-container{
    width: 90px;
    height: 45px;
    overflow: hidden;
    position: relative;
 
}

.image-container img{
   width: 100%;
   position: absolute;
   right: 10%;
  

}


.grid-container {
    display: grid !important;
    grid-template-areas:
      'header header header'
      'sidebar content content';
      
    grid-template-columns: 80px minmax(600px,2fr);
    grid-template-rows: auto 1fr auto;
    gap:2px; /* Espacio entre los elementos del grid */
    height: 100vh; /* Altura total de la vista */
}
.header {
    grid-area: header;
    text-align: center;
    min-width: 600px;
  }
  
  .sidebar {
    grid-area: sidebar;
    background-color: #57c305;
    padding: 20px;
  }
  
  .content {
    grid-area: content;
    background-color: #028fbe;
    padding: 20px;
  }
  .menuProject {
    display: flex;          /* Establece el modelo de caja flexible */
    justify-content: space-between; /* Espacia los elementos uniformemente */
    align-items: center;    /* Alinea los elementos verticalmente en el centro */
    width: 400px;  
    padding-top: 5px;
    padding-right: 18px;    /* Asegúrate de tener algún relleno a la derecha */
    height: 100%;
    border-radius: 10px;
}

.dropDownProject
{
  position:absolute;
  left: 20%;
  border-radius: 8px;
  box-shadow: 0 5px 8px rgb(0,0,0,0.2);
  

}

::ng-deep .cdk-overlay-pane .matMenuPanel {
  min-width: 400px;
}

/* 
cdk-overlay-pane Its use to refer all the floa components like dropdowns, menus, etc.
*/
.arrowMenu
{
  display: flex;
  justify-content: end;
  
}




 /*  .footer {
    grid-area: footer;
    background-color: #276db3;
    padding: 20px;
    text-align: center;
  } */




/* @media (max-width:678px){
    .grid-container{
        grid-template-areas:
        'header header'
        'sidebar content'
        'footer footer';
        grid-template-rows: 50px 150px 50px;
        grid-template-columns: 50px auto;
        height: 100vh
    }
} */