
<div class="row p-2">
    <div class="col-12 mb-4  mt-4 ">
      <mat-icon aria-hidden="false" aria-label="projects" >
        <span class="material-symbols-outlined">home</span>
      </mat-icon>
    </div>
   <!--  <div class="col-12 mb-4  mt-4">
      <mat-icon aria-hidden="false" aria-label="work-breakdown-structure" >
        <span class="material-symbols-outlined"> package_2</span>
      </mat-icon>
    </div>
    <div class="col-12 mb-4  mt-4">
       <mat-icon aria-hidden="false" aria-label="credit-rules" >
        <span class="material-symbols-outlined">rubric </span>
       </mat-icon>
    </div> -->
    <div class="col-12 mb-5  mt-4">
      <mat-icon aria-hidden="false" aria-label="schedule" >
        <span class="material-symbols-outlined">event_note</span>
      </mat-icon>
    </div> 
    <div class="col-12   mt-1">
      <mat-icon aria-hidden="false" aria-label="team" >
        <span class="material-symbols-outlined">group</span>
      </mat-icon>
    </div> 
</div>
  
  <div class="row  justify-content-center   pt-5 " style="height: 110px; bottom: 0; position: absolute;  ">
   
    <div class="col text-center image-container-user  " style="margin-right: 10px;">
      <img src="../../../assets/Images/User_Image.png" class="rounded" alt="user-image" >
    </div>
  </div>

  <app-offcanvas></app-offcanvas>
