

  <div class="card cardProjectOverall">
      <div class="card-header">  
      
      </div>
      <div class="card-body">
        <div class="row row-cols-1  row-cols-sm-1 row-cols-md-2">
          <div class="col border" style="">
             Card con Datos del planned value y Planned hours
          </div>
          <div class="col border" style="">
            grafica de lineas en el tiempo
          </div>
         </div>
          <div class="row row-cols-1 row-cols-md-3">
            <div class="col border" > SPI</div>
            <div class="col border" >CPI</div>
            <div class="col border" >VOWD</div>
          </div>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 ">
            <div class="col border" >Project Value</div>
            <div class="col border" style = "border: 2px; border-color: black;">Profit GC</div>
            <div class="col border" style = "border: 2px; border-color: black;">Profit Selfperform</div>
            <div class="col border" style = "border: 2px; border-color: black;">forecasted Perform</div>
          </div>
       
  
  
      </div>
  </div>


